@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.adv {
    background-color: #222;
}

.adv-wrap {
    width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.adv-left {
    background-color: #C2202F;
    color: #fff;
    padding: 5px 12px 8px 12px;
    font-size: 14px;
    border-radius: 50px;
}

nav {
    background-color: #C2202F;
}

.nav-wrap {
    width: 1400px;
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
}

.nav-wrap h4 {
    color: #fff;
    letter-spacing: 3px;
    font-size: 25px;
}

.nav-wrap ul {
    display: flex;
    margin-top: 5px;
}

.nav-wrap ul li {
    list-style: none;
    color: #fff;
    margin-left: 40px;
}

.bg {
    width: 100%;
    height: 600px;
    background-image: url('../images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-wrap {
    width: 1400px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    height: 600px;
}

.bg-content {
    width: 500px;
}

.bg-content h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -1px;
    text-shadow: 2px 2px 2px #000;
}

.bg-content p {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    line-height: 1.5;
    margin-top: 20px;
}

button {
    border: 0;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 16px;
    background-color: transparent;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: #222;
    padding: 50px 0;
}

.footer-wrap {
    width: 1400px;
    margin: 0 auto;
}

.footer-wrap h4 {
    color: #fff;
    letter-spacing: 3px;
    font-size: 25px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top span {
    font-size: 30px;
}

.footer-top span i {
    color: #fff;
}

.footer-top span i:hover {
    color: #ccc;
    transition: 0.5s;
}

.footer-bottom {
    margin-top: 30px;
    color: #fff;
    text-align: center;
}