@charset 'utf-8';
    /* header */
        header {
            background-color: #000;
            padding: 25px 0;
            width:100%;
        }

        .header-wrap {
            display: flex;
            justify-content: space-between;
        }

        .logo a, .admin-menu a {
            color:#fff;
            text-decoration: none;
        }

        .logo a {
            margin-left: 20px;
        }

        .admin-menu a {
            margin-right:20px;
            margin-left: 50px;
        }

        .my-info span {
            color:#fff;
        }

    /* main left, right */
    .main-wrap {
        display:flex;
    }

    .main-wrap .main-left {
        flex-basis: 12%;
        background-color: #e7e7e7;
        height: calc(100vh - 70px);
        padding:10px;
    }

    .main-wrap .main-right {
        flex-basis: 88%;
        padding:10px;
    }

    .left-myinfo {
        background-color:#fff;
    }

    .left-myinfo img {
        width:100%;
    }

    .left-myinfo a:hover {
        text-decoration: underline;
    }









