@charset 'utf-8';

header {
            border-bottom: 1px solid #e7e7e7;
            padding-bottom: 30px;
        }

        .util {
            background-color:#296647;
            padding: 12px 0;
        }

        .wrapper {
            max-width: 1600px;
            margin: 0 auto;
        }

        .util-wrap, .nav-wrap {
            display: flex;
            justify-content: space-between;
        }

        .util-wrap p, .nav-wrap p {
            flex-basis: 25%;
            text-align:center;
        }

        .nav-wrap h2 {
            flex-basis: 30%;
            text-align:center;
        }

        .util-wrap p a {
            color:#fff;
            text-decoration: underline;
            font-size: 14px;
        }

        .nav-top {
            padding: 60px 0;
        }

        .nav-top .social a {
            font-size: 20px;
            margin-right: 10px;
        }

        .nav-top .social a:hover {
            color:tomato;
            transition: 0.3s;
        }

        .nav-top .shop a {
            font-size:24px;
            margin-left: 25px;
        }

        .pos-bag {
            position:relative;
        }

        .tag {
            position:absolute;
            top:-20px;
            right:-14px;
            background-color: rgba(41, 102, 71, 0.8);
            color:#fff;
            width:25px;
            height:25px;
            border-radius: 50%;
            display:inline-block;
            font-size:14px;
            text-align:center;
            line-height: 2;
        }

        .nav-bottom nav {
            text-align: center;
        }

        .nav-bottom nav a {
            margin: 0 30px;
            font-weight: bold;
            font-size: 18px;
        }

        main {
            padding:100px 0;
        }


        footer {
            background-color:#296647;
            padding: 24px 0 20px;
        }

        footer p {
            text-align:center;
            color:#fff;
        }





