@charset 'utf-8';

body {
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
    width: 450px;

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2px 1px #ccc;
    padding: 60px 40px;
}

.container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.container form label {
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

.container form input {
    width:100%;
}

.container form input[type='text'],
.container form input[type='password'] {
    border:1px solid #ced4da;
    padding:14px 12px;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    outline:0;
    margin-bottom: 15px;
}

.container form input[type='text']:focus,
.container form input[type='password']:focus {
    box-shadow: 0 0 0 4px rgba(13,110,253,0.25);
    border-color:#86b7fe;
}

.container form input[type='radio'] {
    width: 25px;
    height:25px;
}

.container form span {
    vertical-align: top;
    margin-right: 10px;
}

.selWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.selWrap .selBox {
    flex-basis: 49%;
}

select {
    border:1px solid #ced4da;
    padding:14px 12px;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    outline:0;
    margin-bottom: 15px;
    width:100%;
}

.btn-wrap {
    text-align: right;
    margin-top:20px;
}

.btn-wrap button {
    background-color: #0b5ed7;
    color: #fff;
    font-size: 14px;
    border:0;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 12px 15px;
    font-weight: bold;
}

.btn-wrap button:hover {
    opacity: 0.9;
}

a:hover {
    text-decoration: underline;
}