<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사원 목록 페이지</title>
</head>
<body>
    <a href="/employees/register">사원 등록 페이지</a>

    <table border="1">
        <tr>
            <th>부서</th>
            <th>이메일</th>
            <th>비밀번호</th>
            <th> - </th>
        </tr>
        <tr>
            <td>임원실</td>
            <td>mail@mail.com</td>
            <td>1234</td>
            <td>수정/삭제</td>
        </tr>
    </table>
</body>
</html>