@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200;400;700&display=swap');

        * {
            margin:0;
            padding:0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Sarabun', sans-serif;
        }

        a {
            text-decoration: none;
        }

        ul li {
            list-style: none;
        }